*{
    margin:0;
    padding:0;
    background-color: rgb(209, 78, 78);
}
.photo img{
    text-align: center;
    width:1400px;
    height:300px;
}
h1{
    color: rgb(197, 43, 43);
    text-decoration: underline;
}
h2{
    color: rgb(206, 92, 10);
}